* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #429fa6;
  font-family: Poiret One;
  display: grid;
  height: 100vh;
}

.main {
  margin: auto;
  display: grid;
  gap: 20px;
}
.widget {
  display: flex;
  height: 350px;
  width: 650px;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}

.weatherInfo {
  width: 50%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.temperature {
  flex: 0 0 50%;
  width: 100%;
  font-size: 55px;
  display: flex;
  justify-content: center;
}

.description {
  flex: 0 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.weatherCondition {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
}

.place {
  font-size: 15px;
}

.date {
  width: 50%;
  flex-direction: column;

  height: 40%;
  background: #70c1b3;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.place {
  text-align: center;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
a {
  text-decoration: none;
  color: #e4d6a7;
  font-size: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

form {
  margin: auto;
}

@media (max-width: 700px) {
  .widget {
    height: 400px;
    width: 300px;
  }
  .weatherIcon {
    height: 50%;
  }
  .weatherInfo {
    flex: 0 0 100%;
    height: 25%;
    border-bottom-left-radius: 0px;
  }
  .date {
    flex: 0 0 100%;
    height: 25%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  h1 {
    font-size: 40px;
  }
}
